streamlit
finance-datareader
prophet
pillow
yfinance
pandas
numpy
opencv-python
pandas-ta-classic
plotly
python-dotenv
supabase
google-genai
google-generativeai
schedule

googlesearch-python
textblob
pykrx
vaderSentiment
feedparser
scikit-learn
openpyxl
pytest
discord.py>=2.4
